<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Materials Cloud OPTIMADE server</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="/static/images/favicon.png" type="image/png" />

    <link rel="stylesheet" href="/static/css/mcloud_theme.min.css" type='text/css'>
    <link rel="stylesheet" href="/static/css/extra.css" type='text/css'>

    <script src="/static/js/jquery.min.js" type='text/javascript'></script>
    <script src="/static/js/bootstrap.min.js" type='text/javascript'></script>

</head>

<body>

    <!-- Add script Plausible and pass domain name ad rollup name as parameter -->
    <script type="text/javascript">
        var header = document.getElementsByTagName("head")[0];
        var plausible = document.createElement("script");
        var domain_name = window.location.hostname;
        var rollup_name = "plausible-rollup.materialscloud.org";

        plausible.async = "";
        plausible.defer = "";
        plausible.dataset["domain"] = domain_name + "," + rollup_name;
        plausible.src = "https://plausible.io/js/plausible.js";
        header.appendChild(plausible);
    </script>
    <!-- end Plausible analytics -->

    <div class="extra-container">
        <!-- Application header -->
        <div class="mcloud-header header" id="mcloudHeader">
            <div class="navbar navbar-default navbar-static-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button class="navbar-toggle" data-target=".header-collapse" data-toggle="collapse"
                            type="button">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="https://www.materialscloud.org/home">
                            <img src="static/images/mcloud_logo.png">
                        </a>
                    </div>

                    <div class="collapse navbar-collapse header-collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="https://www.materialscloud.org/learn">LEARN</a></li>
                            <li><a href="https://www.materialscloud.org/work">WORK</a></li>
                            <li><a href="https://www.materialscloud.org/discover">DISCOVER</a></li>
                            <li><a href="https://www.materialscloud.org/explore">EXPLORE</a></li>
                            <li><a href="https://www.materialscloud.org/archive">ARCHIVE</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> <!-- End of header -->


        <div class="mcloud-wrapper extra-expand-bottom">

            <div class="mcloud-status-bar">
            </div>
            <div class="mcloud-message-container">
            </div>
            <!-- Application body -->
            <div class="mcloud-container">
                <div class="mcloud-page-container">
                    <div class="extra-page-content">
                        <div class="extra-title-logos">
                            <h3>Materials Cloud Archive OPTIMADE server</h3>
                            <div style="padding: 1em;">
                                <span style="padding: 1em">
                                    <img height="60px"
                                        src="https://matsci.org/uploads/default/original/2X/b/bd2f59b3bf14fb046b74538750699d7da4c19ac1.svg">
                                </span>
                                <span style="padding: 1em">
                                    <img height="60px"
                                        src="https://raw.githubusercontent.com/materialscloud-org/discover-mc3d-react/main/public/mcloud_spinner.svg">
                                </span>
                            </div>
                        </div>
                        <h4>Index meta-database:</h4>
                        <ul>
                            <li><a href='/index/v1/info'>/index/v1/info</a></li>
                            <li><a href='/index/v1/links'>/index/v1/links</a></li>
                        </ul>
                        <h4>Available databases:</h4>

                        <table>
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Archive entry</th>
                                    <th>OPTIMADE endpoint</th>
                                </tr>
                            </thead>
                            <tbody>
                                $HTML_TABLE_ROWS
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

        </div>

    </div>
</body>

</html>
