.extra-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.extra-expand-bottom {
    flex: 1;
}

.extra-page-content {
    margin: auto;
    max-width: 900px;
    background-color: white;
    min-height: 650px;
    padding: 20px 40px;
    margin-bottom: 30px;
}

.extra-title-logos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 6px;
}


table {
    /* font-family: Arial, sans-serif; */
    border-collapse: collapse;
    width: 90%;
    margin: 0 auto;
    font-size: 14px;
}

th,
td {
    border: 1px solid #EEEEEE;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f0f0f0;
}

/* tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:nth-child(odd) {
    background-color: #ffffff;
} */
