
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Example provider</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="optimade,materials,crystals,database">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        html { margin: 2em; }
        h4, p { margin-left: 2em; }
        span.version { background-color: lightgrey; font-weight: bold; font-family: monospace; padding: 0em 0.5em 0em 0.5em; border-radius: 1em; }
    </style>
    </head>
    <body>
        <div style="padding: 1em;">
			<span style="padding: 1em">
			<img height="100px" src="https://matsci.org/uploads/default/original/2X/b/bd2f59b3bf14fb046b74538750699d7da4c19ac1.svg">
			</span>
			<span style="padding: 1em">
			<img height="100px" src="https://raw.githubusercontent.com/materialscloud-org/discover-mc3d-react/main/public/mcloud_spinner.svg">
			</span>
		</div>
        <h3>Welcome to the Materials Cloud Archive OPTIMADE server!</h3>
        <h3>Index meta-database:</h3>
        <ul>
        <li><a href='$INDEX_BASE_URL/v1/info'>$INDEX_BASE_URL/v1/info</a></li>
        <li><a href='$INDEX_BASE_URL/v1/links'>$INDEX_BASE_URL/v1/links</a></li>
        </ul>
        <h3>Available databases:</h3>
        <ul>
$HTML_DB_LIST_ENTRIES
        </ul>

    </body>
</html>
